.cover_image
{
position: absolute;
height: 600px;
width:100%;
left: 0px;
top: 0px;
z-index: -1;
}

nav
{
z-index:1;
border:solid blue 1px;
float:right;
display: inline-block;
position: relative;
width: 30%;
margin: 0px;
padding:5px;
}
h1                                          
{
display: inline-block;
z-index:1;
position:relative;
border:solid blue 1px;   
text-align: left;    
color:blue;  
font-size: 30px;
width: 50%;
height:50px;
padding: 0px;                           
margin-left: 0px;                                  
}

header
{
position: relative;
border:solid blue 1px;
background-color: transparent;
margin: 5px;
padding: 5px;
height: 50px;
}
.btn
{
background:red;
color:white;
text-size:5px;
}
ul
{
font-size: 12px;
display: block;
width: auto;
margin:2px;
padding: 2px;
text-align: center;
text-decoration: none;
list-style-type: none;
}

li {
display: inline-block;
font-size: 12px;
text-align: center;
color: black;
text-decoration: none;
list-style-type: none;
}

li a {
display: inline-block;
text-align: center;
color: black;
text-decoration: none;
list-style-type: none;
}
